<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <main class="container mt-4">
            <div class="row">
                
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/image/vaca2.jpg" alt="Card image cap">
                    </div>
                </div>

                
                <div class="col-md-4">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h5 class="card-title">Sobre nosotros</h5>
                            <p class="card-text">Tienda La Vaca situado en — Calle 2, Avenida 4, Heredia, Costa Rica. En la actualidad la empresa está abierta, se trabajará para 19:00. Recomendamos para especificar información sobre horarios de apertura, cierre y cortes por teléfono — 2237 6043. </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-white">Tienda La Vaca, horario de apertura Día de la semana	Horario de apertura Lunes	09:00 — 19:00 Martes hoy	09:00 — 19:00 Miércoles	09:00 — 19:00 Jueves	09:00 — 19:00 Viernes	09:00 — 19:00 Sábado	09:00 — 19:00 Domingo	09:00 — 19:00</small>
                        </div>
                    </div>
                </div>

               
                <div class="col-md-4">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h5 class="card-title">Terminos y condiciones</h5>
                            <p class="card-text">1. General y aceptación EL USO O LAS VISITAS AL SITIO WEB WWW.LAVACA.COM O CUALQUIERA DE SUS SITIOS SECUNDARIOS (como se define a continuación, en conjunto, incluido todo el contenido disponible a través del nombre de dominio LAVACA.com o cualquier dominio secundario como mobile.LAVACA.com, el "sitio web LAVACA" o "sitio web"), que es de propiedad de YUCA EIRL. ("LAVACA") quien lo opera y realiza su mantenimiento, Y EL USO DE TODOS LOS SERVICIOS BRINDADOS EN EL SITIO WEB (según la siguiente definición) IMPLICA SU CONSENTIMIENTO A AMBOS TÉRMINOS Y CONDICIONES (los "Términos de uso" o "Contrato") Y LOS TÉRMINOS Y CONDICIONES DE LA POLÍTICA DE PRIVACIDAD DE LAVACA, QUE ESTÁN PUBLICADOS EN http://www.LAVACA.com Y LOS CUALES SE INCORPORAN AQUÍ POR REFERENCIA. Si no está de acuerdo con algunas de estas condiciones, entonces no debe usar el sitio web de LAVACA.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
