<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/plantilla :: head}">
    <title>La Vaca</title>
</head>
<body>
<section th:fragment="listadoProductos" id="productos">
    <div class="container">
        <div class="row row-cols-2">
            <h2 class="inline">[[#{index.nuestrosProductos}]]</h2>
            <div id="resultsBlock"></div>
        </div>
        <div class="row row-cols-3"
             th:if="${productos != null and !productos.empty}">
            <div class="card" th:each="producto : ${productos}">
                <div class="card-body">
                    <h5 class="card-title">[[${producto.descripcion}]]</h5>
                    <figure>
                        <img th:src="@{${producto.rutaImagen}}" height="200"/>
                        <figcaption>[[${producto.precio}+' ('+${producto.existencias}+')']]</figcaption>
                    </figure>
                    <form>
                        <input type="hidden" name="idProducto" th:value="${producto.idProducto}"/>
                        <input type="hidden" name="existencias" th:value="${producto.existencias}"/>
                        <button class="btn btn-light" id="addCar"
                                name="addCar" onclick="addCard(this.form)"
                                type="button"><i class="fas fa-cart-plus"></i></button>
                    </form>
                   
                    <p class="card-text">[[${producto.descripcion}]]</p>
                </div>
            </div>
        </div>
        <div th:if="${productos == null or productos.empty}">
            [[#{carrito.no_mostrar}]]
        </div>
    </div>
</section>

<div th:fragment="verCarrito">
  
    <div th:if="${listaItems != null and !#lists.isEmpty(listaItems)}">
        <form action="/carrito/listado" style="display: inline;">
            <button type="submit" class="btn btn-warning btn-sm">
                <i class="fas fa-shopping-cart"></i>
                <span class="badge bg-danger rounded-pill ms-1" th:text="${listaTotal}">0</span>
            </button>
        </form>
    </div>
    
    <!-- Si el carrito está vacío -->
    <div th:if="${listaItems == null or #lists.isEmpty(listaItems)}">
        <span class="badge bg-secondary" th:text="${listaTotal ?: 0}">0</span>
        <small class="text-white ms-1">productos</small>
    </div>
</div>

<section th:fragment="listadoCarrito" id="items">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Carrito de Compras</h4>
                    </div>
                    <div th:if="${items != null and !items.empty}">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item, contador : ${items}">
                                    <td th:text="${contador.count}">1</td>
                                    <td th:text="${item.descripcion}">Descripción</td>
                                    <td class="text-end" th:text="${item.precio}">0.0</td>
                                    <td class="text-center" th:text="${item.cantidad}">1</td>
                                    <td class="text-center" th:text="${item.cantidad * item.precio}">0.0</td>
                                    <td>
                                        <a th:href="@{/carrito/eliminar/{id}(id=${item.idProducto})}" class="btn btn-danger">
                                            <i class="fas fa-trash"></i> Eliminar
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/carrito/modificar/{id}(id=${item.idProducto})}" class="btn btn-success">
                                            <i class="fas fa-pencil"></i> Editar
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center p-2" th:if="${items == null or items.empty}">
                        No hay productos en el carrito.
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center bg-primary text-white mb-3">
                    <div class="card-body">
                        <h3>Total Compra</h3>
                        <h4 class="fs-4" th:text="${carritoTotal}">0.0</h4>
                    </div>
                </div>
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <a th:href="@{/}" class="btn btn-success">
                            <i class="fas fa-reply"></i> Seguir Comprando
                        </a>
                    </div>
                </div>
                <div class="card text-center bg-info text-white mb-3">
                    <div class="card-body">
                        <a th:href="@{/facturar/carrito}" class="btn btn-info">
                            <i class="fas fa-forward"></i> Facturar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section th:fragment="modifica">
    <div class="row mb-3">
        <a th:href="@{/carrito/listado}" class="btn btn-primary">
            <i class="fas fa-reply"></i> Regresar
        </a>
    </div>
    <div class="row row-cols-2">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" th:text="'Detalle: ' + ${item.descripcion}">Detalle</h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted text-end"
                    th:text="${item.precio} + ' (' + ${item.existencias} + ')'">Precio y Existencias</h6>
                <p class="card-text" th:text="${item.descripcion}">Descripción</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <figure>
                    <img th:src="@{${item.rutaImagen}}" width="120" alt="Imagen producto"/>
                </figure>
                <form th:action="@{/carrito/guardar}" method="post" th:object="${item}">
                    <input type="hidden" th:field="*{idProducto}"/>
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" id="cantidad" th:field="*{cantidad}"
                               min="1" th:attr="max=${item.existencias}" required/>
                    </div>
                    <div class="form-group mt-2">
                        <button class="btn btn-success" type="submit" name="guardar">
                            <i class="fas fa-save"></i> Guardar
                        </button>
                    </div>
                </form>
                <a th:href="@{/carrito/eliminar/{id}(id=${item.idProducto})}" class="btn btn-danger mt-2">
                    <i class="fas fa-trash"></i> Eliminar
                </a>
            </div>
        </div>
    </div>
</section>

</body>
</html>
